:root{
    --dark-bg-color: #1f2973;
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --call-to-action: #3882f6;
    --information-text: #1f2973;
    --quote-bg: #e5e7eb;
    --quote-text: #1f2973;  
}

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
    color: var(--main-text-color);
    height: 100px;
}

main{
    height: 400px;
    background-color: var(--dark-bg-color);
}


.logo{
    color: white;
}

.logo img{
    width: 100px;
}

.links{
    display: flex;
    gap: 30px;
}


.info-title{
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    color: var(--information-text);
    font-weight: 900;
}

.info-img{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    color: var(--information-text);
}

.info-container{
    width: 200px;
    height: 300px;
}

.info-container img{
    width: 100%;
    border-radius: 10px;
}

section{
    height: 300px;
    background-color: var(--quote-bg);
    color: var(--quote-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contents{
    width: 50%;
}

.section-contents h3{
    font-size: 36px;
    font-weight: 300;
    color: black;
}



.section-contents p{
    font-weight: 700;
    text-align: right;
}

footer{
    background-color: var(--dark-bg-color);
    height: 75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

