* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}



.hero{
    background-color: #1f2973;
    height: 500px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
    color: #727882;
    height: 100px;
}

.logo{
    color: white;
}

.logo img{
    width: 100px;
}

.links{
    display: flex;
    gap: 30px;
}

.hero-main {
    color: white;
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.hero-info{
    grid-area: 1 / 1 / 6 / 3;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    
}

.secondary-text{
    color: #e5e7eb;
    font-size: 18px;
}

.main-img{
    grid-area: 1 / 3 / 6 / 6;
    display: flex;
    justify-content: center;
}

.main-img img{
    width: 350px;
    margin-top: 50px;
}

.random-info{
    height: 400px;
    background-color: white;
}

.info-title{
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    color: #1f2973;
    font-weight: 900;
}

.info-img{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    color: #3882f6;
}

.info-container{
    width: 200px;
    height: 300px;
}

.info-container img{
    width: 100%;
    border-radius: 10px;
}




